* {
	padding: 0;
	margin: 0;
}

html, body {
	background-color: #000;
}

.row {
	max-width: 100%;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

img.album {
	float: left;
	padding: 0;
	position: relative;
	max-width: 100%;
	display: block;	
}

.orange, .reveal-modal .orange.close-reveal-modal, #nav1214 {
	color: #f77033;
}

.blue, .reveal-modal .blue.close-reveal-modal, #nav0813 {
	color: #3490ee;
}

.pink, .reveal-modal .pink.close-reveal-modal, #nav0912 {
	color: #ff33cc;
}
.green, .reveal-modal .green.close-reveal-modal, #nav1111 {
	color: #00cc00;
}

.gray, .reveal-modal .gray.close-reveal-modal {
	color: #555;
}

dialog .close-reveal-modal, .reveal-modal .close-reveal-modal {
	font-size: 2rem;
	font-weight: normal;
}

.fi-arrow-right {
	font-size: 1.5rem;
	float: right;
}

.fi-arrow-left {
	font-size: 1.5rem;
	float: left;
}

h5, h6 {
	color: #555;
	font-family: "raleway",sans-serif;
	font-style: normal;
	font-weight: 400;
}

h4 {
	font-family: "merriweather",sans-serif;
	font-style: normal;
	font-weight: 300;
}

.supplement {
	font-size: 1.1rem;
}

.top-bar .name h1, .top-bar-section ul li > a {
	font-family: "merriweather",sans-serif;
	font-style: normal;
	font-weight: 400;
}

.top-bar-section ul li > a, .top-bar .name h1 {
	color: #555;
}

.top-bar .name h1 {
	padding-left: 10px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: #f1f1f1;
}

.top-bar {
    background: none repeat scroll 0% 0% #f1f1f1;
}

.top-bar .toggle-topbar.menu-icon a {
    color: #555;
    font-family: "merriweather",sans-serif;
	font-style: normal;
	font-weight: 400;
}

.top-bar-section .has-dropdown > a:after {
    border-color:  #555 transparent transparent transparent;
}

.top-bar-section .dropdown label {
	color: #F1F1F1;
}

.animated {
  -webkit-transition: all 3.5s ease;
     -moz-transition: all 3.5s ease;
       -o-transition: all 3.5s ease;
      -ms-transition: all 3.5s ease;
          transition: all 3.5s ease;
  -webkit-transform: rotateY(360deg);
     -moz-transform: rotateY(360deg);
       -o-transform: rotateY(360deg);
      -ms-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transform: translateZ(0);
}

.animated2 {
  -webkit-transition: all 2.5s ease;
     -moz-transition: all 2.5s ease;
       -o-transition: all 2.5s ease;
      -ms-transition: all 2.5s ease;
          transition: all 2.5s ease;
  -webkit-transform: rotateY(-360deg);
     -moz-transform: rotateY(-360deg);
       -o-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
          transform: rotateY(-360deg);
}

.rules {
	color: #555;
	text-align: center;
	font-family: "merriweather", sans-serif;
}

.small-block-grid-5 {
	text-align: center;
}

/* MEDIA QUERIES */

/* Large Screens */
@media only screen and (min-width: 64.063em) {  
	img.album {
		width: 20%;
	}
}

/* Medium Screens */
@media only screen and (min-width: 40.063em) { 
	img.album {
		width: 33.33%;
	}
}

/* Small Screens */
@media only screen and (max-width: 40em) { 
	img.album {
		width: 50%;
	}
}